/* ОТЛАДОЧНЫЕ */

/* header,
main,
footer {
    border: 1px solid red;
    margin: 1rem 0;
}

div {
    border: 1px solid rgb(102, 2, 57);
    margin: 10px 5px;
}

nav,
ul,
li,
img {
    border: 1px solid silver;
    margin: 10px 5px;
}

h1,
p,
span {
    border: 1px dashed rgb(59, 116, 182);
    margin: 10px 5px;
} */

/* ВРЕМЕННЫЕ. Возможно требуют переназначения */



/* Основные правила */

@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf ");
}

/* В конце работы перепроверить правила. Возможно необходимо переназначить логичнее */

body {
    margin: 0;
    font-family: "Montserrat Regular", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #533738;
}

a {
    text-decoration: none;
}


/* ---- */

/* Стили блоков, секций, списков */

.cover-header {
    /* Если убрать эту прозрачную рамку, то свойствово margin-top: 36px в правиле .cover-header-nav 
    добавит 36-пиксельную белую полосу сверху */
    border: 1px solid transparent;
    width: 100vw;
    height: 100vh;
    background-color: #e1d9ce;
    background: url("../images/decor/head-background.jpg") no-repeat center;
    background-size: cover;
}

.cover-header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 36px;
    max-width: 1200px;
    align-items: center;
}

.header-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item:not(:last-child) {
    margin-right: 26px;
}

.nav-link {
    font-size: 16px;
    line-height: 20px;
}

.cover-intro {
    margin-top: 152px;
    margin-left: 184px;
    max-width: 534px;
}

/* Стили заголовков, параграфов, ссылок */

.text-center {
    text-align: center;
}

.top-header {
    font-size: 50px;
    line-height: 125%;
}

.body-header {
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
}

.body-text {
    font-size: 18px;
    line-height: 30px;
}

cite.body-text {
    font-style: normal;
    text-transform: uppercase;
}