/* Временные стили для визуального удобства разметки*/

/* Основные стили */

@font-face {
    font-family: "Montserrat Regular";
    src: url("fonts/Montserrat-Regular.ttf");
}


body {
    font-family: "Montserrat Regular", "Roboto", "Arial", sans-serif;
}

.header-nav {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}